name: Terraform Dev Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      TF_VAR_environment: ${{ secrets.TF_ENV }}
      TF_VAR_region: ${{ secrets.TF_REGION }}
      TF_VAR_vpc_cidr: ${{ secrets.TF_VPC_CIDR }}
      TF_VAR_subnet_cidr: ${{ secrets.TF_SUBNET_CIDR }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.TF_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init (DEV backend)
        run: terraform -chdir=terraform init -backend-config="key=dev/terraform.tfstate"

      - name: Terraform Plan
        run: terraform -chdir=terraform plan

      - name: Terraform Apply
        run: terraform -chdir=terraform apply -auto-approve
